/* inicio de nav */
nav{margin: auto auto;}
nav ul{
    list-style:none ;
    margin: 20px;
    padding: auto;
   }

  
   nav li{
    display: inline;
    margin-right: 20px;
   }

   li a{
    text-decoration: none;
    color: turquoise;
   padding: 5px 10px;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;;
   font-weight: bold;
   
   }

   li a:hover {
    background-color: turquoise;
    color: white;
   }

   .caja1 {
    border-right: 1px solid black;
    display: flex; 
    align-items: center; 
    margin-right: 50px;
    float: left;
  }

   .caja1 h3 {
    margin: 5px; 
    font-size: 20px;
    color: gray;
    font-family: 'Poppins', sans-serif;
  }
  
  .caja2 {
    margin: 5px; 
    float: left;
    display: flex;
  }
/*final de css de nav*/

/* inicio del CSS DEL HOME*/

#hero{
min-height: 100vh;
position: relative;
}

.homevideo{
position: absolute;
top: 0;
left: 0;
right: 0;
object-fit: cover;
}

.promo{
  
padding-top: 100px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 60%;
margin: auto;
position:relative;
z-index: 2;      
}

.titulo{

font-size: 50px;       
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
color: white;
}

.titulo{
display: inline-block;
position: relative;
z-index: 3;
}

.titulo::after,.titulo::before{
content: '';
position: absolute;
width: 250px;
height: 6px;
background-color: white;
top: 0.6em;
z-index: 2;
}

.titulo::before{
z-index: 2;
left: -300px;}

.titulo::after{
right: -300px;
z-index: 2;
}
  
.subtexto{
font-size: 30px;       
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
text-align: center;
color: aqua;
}

/*fin del home*/

/*inicio de contenido*/
.N1{
    background-color: rgb(177, 241, 241);
    height: 450px;
    width: 1330px;
    }
h1{
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
text-align: center;
color:white;
font-size: 40px;
}

.escritorio{
    margin: 80px;
    float: left;
}
.papa{
margin-top: 60px;
margin-right: 80px;
float: right;
height: 500px;
width: 600px
}

h2{
font-family: 'Poppins', sans-serif;
margin-top: 30px;
font-size: 20px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    color:aqua;
    font-size: 40px;   
}

.what{
    margin-left: 70px;
    height: 100px;
    width: 700px;
    
}

.pepe{
    float: left;
    margin-left: 60px;
    margin-top: 50px;
    height: 100px;
    width: 1220px;
    background-color:aqua;
    
}

.video{
    float: left;
    width: 800px;
    margin-left: 20px;
}
.des{
    height: 200px;
    width: 420px;
    float: left;
    margin-left: 70px;
   
}

/*Css de los objetivos */


/* final de home (el html esta en el archivo de disconnected) */

/* inicio de objetive */

/* final de objetive */

/* inicio de how work */

/*final de how work */

/* inicio de feature */

/*final de feature */

/* inicio de footer (tambien es el css de el archivo de contact us) */
.final{
  width: 100%;
  margin-top: 90%;
  background-color: turquoise;
  }
  
  .final .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 15px 10px;
  }
  
  .final .grupo1 .box h1{
    color: black;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;;
  }
  
  .final .grupo1 .box li{
    margin-left: 10px;
  }
  
  .final .grupo1 .box h2{
    color: black;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  .final .grupo1 .box h3{
    color: black;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  
  .final .grupo1 .box p{
    margin-bottom: 30px;
  }
  
  .final .grupo1 .box ul{
    list-style: none;
  }
  
  
  .final .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .final .grupo1 .box figure img{
    width: 250px;
  }
  
  .final .grupo1 .redes a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: lightcyan;
    text-align: center;
    transform: all 300ms ease;
  }
  
  .final .grupo1 .redes a:hover{
    color: grey;
  }
  
  .final .grupo2{
    text-align: center;
    color: white;
  }
  
  .final .grupo2 small{
    font-size: 15px;
  }
/*final de footer */

.container{
  float: left;
}