/* inicio de nav */
nav ul{
    list-style:none ;
    margin: 20px;
    padding: auto;
   }

   nav li{
    display: inline;
    margin-right: 20px;
   }

   li a{
    text-decoration: none;
    color: turquoise;
   padding: 5px 10px;
   font-size: 25px;
   font-family: 'Poppins', sans-serif;;
   font-weight: bold;
   
   }

   li a:hover {
    background-color: turquoise;
    color: white;
   }

   .caja1 {
    display: flex; 
    align-items: center; 
    margin-right: 50px;
    float: left;
  }

   .caja1 h3 {
    margin: 5px; 
    font-size: 24px;
    color: gray;
    font-family: 'Poppins', sans-serif;
  }
  
  .caja2 {
    margin: 5px; 
    float: left;
    display: flex;
  }
/*final de css de nav*/

/* inicio de home */
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    width: 600px;
    height: 300px;
    position: absolute;
    margin-right: 40px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}


/* final de home */

/* inicio de about us */
.N1{
    background-color: rgb(177, 241, 241);
    height: 450px;
    width: 1330px;
    }
h1{
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
text-align: center;
color:white;
font-size: 40px;
}

.escritorio{
    margin: 80px;
    float: left;
}
.papa{
margin-top: 60px;
margin-right: 80px;
float: right;
height: 500px;
width: 600px
}

h2{
font-family: 'Poppins', sans-serif;
margin-top: 30px;
font-size: 20px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    color:aqua;
    font-size: 40px;   
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(255, 0, 0);
    font-size: 50px;
}

.mama{
margin-left: 70px;
height: 500px;
width: 560px;
}

.pepe{
    
    margin-left: 60px;
    height: 70px;
    width: 1200px;
    background-color:aqua;  
}


.video{
    float: left;
    width: 600px;
    margin-left: 20px;
}
.des{
    height: 200px;
    width: 420px;
   float: left;
    margin-left: 70px;
    
}

.icon1{
    height: 200px;
    width: 200px;
 float: left;
 margin-left: 110px;
}
.icon2{
    height: 200px;
    width: 300px;
  float: left;
  margin-left: 150px;
}
.icon3{
height: 200px;
width: 200px;
float: left;
margin-left: 70px;
}

.texto1{
    height: 200px ;
    width: 280px;
    float: left;
    margin-top: 150px;
    margin-left: 200px;
}

.texto2{
    height: 200px ;
    width: 280px;
    float: left;
    margin-top: 150px;
    margin-left: 50px;
}

.texto3{
    height: 200px ;
    width: 280px;
    float: left;
    margin-top: 150px;
    margin-left: 120px;
}

.text{

    font-family: 'Poppins', sans-serif;
    color: rgb(73, 92, 179);
    margin-top: 30px;
    font-size: 20px;   
}
/* final de about us */
